body {
	background-color: #ffffff;
	color: #434455;
}
/* колір основного тексту #434455 */
/* другорядний колір тексту заголовків #2E2F42 */
/* білий #FFFFFF */
/* другорядний колір фону #F4F4FD */
/* колір кнопки і лого #4D5AE5 */
/* колір кнопки фільтра #E7E9FC */

/* logo */
.logo {
	color: #2e2f42;
	text-decoration-line: none;
}
.logo-web {
	color: #4d5ae5;
}
.logo:hover,
.logo:focus {
	color: #404bbf;
}

/* навігація по сайту */
.site-nav .link {
	color: #2e2f42;
	text-decoration-line: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: #404bbf;
}
/* address */
.list {
	list-style: none;
}

.address-link {
	color: #434455;
	text-decoration-line: none;
}
.address-link:hover,
.address-link:focus {
	color: #404bbf;
}

/* section */
.section-titel {
	color: #2e2f42;
}
